<li>
    <a href='{{ post.url }}'><aside class="dates">{{ post.date|date('d') }} {{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} {{ post.date|date('Y') }}</aside></a>
    <a href='{{ post.url }}'>{{ post.title }} <h2>{{ post.header.headline }}</h2></a>
</li>
